fastapi
starlette-cramjam==0.1.0
uvicorn
setuptools==59.5.0 
httpx
asyncio
morecantile
rasterio
supermercado
numpy
rio-tiler
rio-tiler-pds
geojson
SQLAlchemy[asyncio]
GeoAlchemy2
shapely==2.0.1
asyncpg
python-dateutil
global-land-mask
libpysal
geopandas
pygeos