geojson-pydantic~=0.6
fastapi
starlette-cramjam==0.1.0
uvicorn[standard]
setuptools==59.5.0
anyio>=3.3.4
httpx
morecantile==3.4
rasterio
supermercado
numpy<2.0.0
rio-tiler~=4.0
rio-tiler-pds~=0.8.0
geojson
SQLAlchemy[asyncio]!=2.0.18
GeoAlchemy2
shapely==2.0.1
asyncpg
python-dateutil
global-land-mask
libpysal
geopandas
psutil
pygeos
networkx
google-cloud-tasks
protobuf
torch==1.11.0
torchvision==0.12.0
scipy
scikit-image
pydantic<2.0