pulumi>=3.0.0,<4.0.0
pulumi-gcp
pulumi-aws
pulumi-command
pulumi-docker
docker
morecantile
numpy
supermercado
httpx==0.22.*
protobuf==3.20.*
geojson
shapely
google-cloud-storage
grpcio<=1.43.0
alembic
asyncpg
GeoAlchemy2
alembic_utils
GitPython
sqlacodegen
psycopg2-binary
python-dateutil