pulumi>=3.0.0,<4.0.0
pulumi-gcp
pulumi-aws
pulumi-command
pulumi-docker==3.2.0
docker
morecantile
numpy==1.21
supermercado
httpx==0.22.*
protobuf==3.20.*
geojson
shapely==2.0.1
google-cloud-storage
grpcio<=1.43.0
alembic
asyncpg
GeoAlchemy2
alembic_utils
GitPython
sqlacodegen
psycopg2-binary
python-dateutil
global-land-mask
eodag==2.5.2
eodag-sentinelsat==0.4.1
geopandas
libpysal
pygeos