pulumi>=3.0.0,<4.0.0
pulumi-gcp==7.24.0
pulumi-aws==6.37.1
pulumi-docker==3.2.0
pulumi-command==0.11.1
docker
morecantile
numpy<2.0.0
supermercado
httpx==0.22.*
protobuf==3.20.*
geojson
shapely==2.0.1
google-cloud-storage
grpcio<=1.43.0
alembic
asyncpg
GeoAlchemy2
alembic_utils
GitPython
sqlacodegen
psycopg2-binary
python-dateutil
global-land-mask
eodag==2.5.2
eodag-sentinelsat==0.4.1
geopandas
libpysal
pygeos
asyncio==3.4.3
pandas_gbq==0.17.6
sqlalchemy==1.4.32
centerline==1.0.1
movingpandas==0.15rc1
scipy==1.8.0
