titiler.core~=0.20.1
rio-tiler-pds~=0.11.1
# Pin rio-tiler and rasterio to versions with cp311 wheels to avoid source builds
rio-tiler==7.5.0
rasterio==1.3.9
starlette-cramjam~=0.4.0
mangum>=0.10
fastapi~=0.108.0
numpy<2.0.0
