asyncio==3.4.3
pandas_gbq==0.17.6
google-cloud-tasks==2.9.1
sqlalchemy==1.4.32
centerline==1.0.1
geopandas==0.12.2
movingpandas==0.15rc1
numpy<2.0.0
scipy==1.8.0
shapely==2.0.1
Flask>=1.0,<3.0
functions-framework==3.0.0
geoalchemy2
asyncpg
fiona==1.9.6
mapbox-vector-tile
morecantile==3.4
pandas
requests
pyproj
google-auth
pydantic<2.0
psycopg2-binary